pip install Django
pip install Pillow
pip install dj-database-url
pip install dj-static
pip install django-toolbelt
pip install gunicorn
pip install mock
pip install model-mommy
pip install psycopg
pip install pystache
pip install six
pip install static
