{% extends "base.html" %}
{% block content %}
<div class="pure-g-r content-ribbon">
    <div class="pure-u-1">
        <h2 class="titles">Informe seus dados de cadastro</h2>
        <form class="pure-form pure-form-aligned " method="post">
            {% csrf_token %}
            <fieldset>
                {{ form.non_field_errors }}

                {% for field in form %}
                <div class="pure-control-group ">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                
                {% endfor %}

                <div class="button-login">
                    <button type="submit" class="button-secondary pure-button">Entrar</button>
                </div>
            </fieldset>
          <div class="titles">
            <p>
                Não é cadastrado? <a class="titles" href="{% url 'accounts:register' %}" title="">Cadastre-se</a> <br />
                Esqueceu a senha? <a class="titles" href="{% url 'accounts:password_reset' %}" title="">Nova senha</a> <br />
            </p>
          </div>
        </form>
    </div>
</div>
{% endblock %}