{% extends "dashboard.html" %}

{% block breadcrumb %}
    {{ block.super }}
  
  <a class="titles" href="{% url 'accounts:edit_password' %}">Editar Senha</a>
{% endblock %}

{% block dashboard_content %}
<form class="pure-form pure-form-aligned " method="post">
    {% csrf_token %}
    {% if success %}
    <p>A sua senha foi alterada com sucesso</p>
    {% endif %}
    <fieldset>
        {{ form.non_field_errors }}
        {% for field in form %}
        <div class="pure-control-group">
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %}
        <div class="button-login">
            <button type="submit" class="pure-button button-secondary">Alterar Senha</button>
        </div>
    </fieldset>
</form>
{% endblock %}