{% extends "course_dashboard.html" %}

{% block breadcrumb %}
    {{ block.super }}
   <a class="titles" href="{% url 'courses:lessons' course.slug %}">Aulas</a>
{% endblock %}

{% block dashboard_content %}
{% for lesson in lessons %}
<div class="well">
    <h2 class="titles"><a href="{% url 'courses:lesson' course.slug lesson.pk %}">{{ lesson }}</a></h2>
    <p>
        <div class="titles">{{ lesson.description|truncatewords:'20' }}</div>
        <br />
        <a href="{% url 'courses:lesson' course.slug lesson.pk %}" title="">
        <i class=" titles fa fa-eye"></i>
        Acessar Aula
        </a>
    </p>
</div>
{% empty %}
<div class="well">
    <h2>
        Nenhuma aula disponível.
    </h2>
</div>
{% endfor %}
{% endblock %}
